<div> Welcome to the birthday checker! </div>
  <form action="/birthday" method="post">
    <p>What is your name?</p>
    <input type="text" name="name">
      <input type="submit" value="Submit">
  </form>
